data/raw/v_forest.bson
data/processed/tweets_with_final_nmf_topics_final.csv
data/processed/final_nmf_model.pkl
data/processed/hourly_weighted_sentiment_vader.csv
data/processed/final_data.json
data/processed/final_data.csv
data/processed/daily_weighted_sentiment_vader.csv
data/raw/v_forest.csv
