.scroll-container {  /* scroll-container that contains all the images */
    position: absolute;
    top: var(--header-height);
    left: var(--sidebar-width);
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
}

.item_prev, .item_current, .item_next {  /* three divs that contain the images */
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 2s ease;
}

/* define different positions for the three divs */
.item_prev {
    top: -100%; /* place it to the top of the container and hide the image*/
    height: 0;
}

.item_next {
    top: 100%; /* put the next image to the bottom of the container */
    height: 100%;
}

.item_current {
    top: 0;
    transform: translateY(0);
}

/* scroll up and down animation */
.scroll-up .item_prev {
    height: 100%; /* when scrolling up, show the previous image */
    top: 0;
}

.scroll-down .item_next { /* when scrolling down, show the next image */
    height: 100%;
    top: 0;
}

/* parallax effect */
/* when scrolling, move the current image up or down by some distance that differ to
the curreent img to create parallax effect */
.item_current {
    transform: translateY(0);
}

.scroll-up .item_current {
    transform: translateY(30vh);
}

.scroll-down .item_current {
    transform: translateY(-30vh);
}

/* text overlay fixed on the page */
.text-overlay {
    position: fixed; /* Text stays fixed on the page */
    top: 10px;
    left: 10px;
    color: white;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5); /* Optional: add a semi-transparent background to make the text more readable */
    padding: 10px;
    z-index: 9999;  /* Ensure text is above the images */
    transition: transform 0.5s ease;  /* Smooth transition for the parallax effect */
}

/* 需求：这是进入时的页面 处于视差滚动图的上方，从这个页面向下滑动进入视差滚动图 */
.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    color: #333;
    font-size: 2rem;
    z-index: 2;  /* Ensure content is above the images */
    transition: transform 0.5s ease;  /* Smooth transition for the parallax effect */
}