body, html {
    overflow: hidden;
}

/* Main container style: Manages the layout for the main section of the application. */
#main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
    width: 100%;
    overflow-x: auto;
}

/* Styling for the region details displayed in the right sidebar. */
#regions_div {
    margin-left: 0;
    position: relative;
    top: var(--header-height);
    transform: scaleX(1.08);
    background-color: rgb(187, 244, 250);
    height: 95vh;
    width: 155vh;
    overflow: hidden;
}

/* Right sidebar style: Defines the appearance of the sidebar on the right-hand side. */
.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - var(--header-height));
    background-color: #f8f9fa;
    border-left: 0 solid #ffffff;
    box-shadow: -0.5vh 0 5px rgb(255, 255, 255);
    padding: 10px;
    overflow: hidden;
    top: var(--header-height);
    z-index: 5;
    width: 17vw;
    position: fixed;
    right: 0;
    text-align: center;
}

/* region Details style: Styling for the region details displayed in the right sidebar. */
#regionDetails {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
    /*line-height: 1.1;*/
}

/* Style for h2 headers in the regionDetails section */
#regionDetails h2 {
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
    font-size: 30px;
}

/* Style for paragraphs in the regionDetails section */
#regionDetails p {
    font-weight: normal;
    margin: 5px 0;
    line-height: 1.05;
}

/* Style for strong elements within paragraphs in the regionDetails section */
#regionDetails p strong {
    font-weight: bold;
    line-height: 1.05;
}

/* Style for h3 headers in the regionDetails section */
#regionDetails h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.05;
}

/* Style for unordered lists in the regionDetails section */
#regionDetails ul {
    list-style-position: inside;
    padding-left: 20px;
    font-weight: normal;
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: -10px;
    line-height: 1.05;
}

/* Style for list items in the regionDetails section */
#regionDetails li {
    font-weight: normal;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.05;
}

/* country Data Container style: Styling for the container that holds the country data list */
#countryDataContainer {
    border: 1px solid #ccc;
    padding: 1vh;
    margin-top: -1vh;
    flex: 1;
    max-height: 20vh;
    overflow-y: auto;
}

/* Styling for unordered lists within the country data container */
#countryDataContainer ul {
    list-style-type: disc;
    padding-left: 0;
    margin-bottom: 3vh;
}

/* Styling for list items inside the country data container */
#countryDataContainer li {
    margin-bottom: 1vh;
    text-align: left;
    font-weight: normal;
}

/* Back button style: Positioned to allow the user to navigate back from detailed views. */
#backButton {
    position: absolute;
    bottom: 5vh;
    left: 45%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    padding: 1vh 0;
    border-radius: var(--button-radius);
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 16px;
    text-align: center;
    width: 30vh;
}

/* Timeline container positioning: Centers the timeline on the page. */
.timeline-container {
    position: relative;
    left: calc((100vw - 30vh) / 5);
    width: 45%;
    z-index: 200;
    top: -5vh;
}

/* Timeline wrapper style: Adds styling to the timeline's background and layout. */
.timeline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1vh 9vh;
    box-shadow: var(--box-shadow);
    border: 0 solid #ddd;
    width: 90%;
    height: 3vh;
    position: relative;
    margin: 0 auto;
}

/* Start and end date labels */
#start-day, #end-day {
    font-size: 12px;
    font-weight: bold;
    color: var(--nav-link-color);
    background-color: #e0e0e0;
    padding: 1vh 2vh;
    border-radius: 3vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    margin: -1vh -1vh;
    text-align: left;
}

/* Slider container style */
.slider-container {
    position: relative;
    width: 65%;
    left: 0;
    top: -0.5vh;
}

/* Current date label on timeline: Displays the selected date above the slider thumb. */
#current-date-label {
    position: absolute;
    top: -4vh;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00695c;
    padding: 1vh 1vh;
    border-radius: 20px;
    box-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.3);
    display: none;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Show date label on slider hover or focus */
.slider-container:hover #current-date-label,
#timeline:focus + #current-date-label {
    display: block;
}

/* Range slider style: Customizes the appearance of the slider track and thumb. */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 0.8vh;
    background: linear-gradient(to right, #4CAF50, #ddd);
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    margin: 0;
    transition: background 0.3s ease;
    position: relative;
}

/* Pseudo-elements for the range input slider */
input[type="range"]::before,
input[type="range"]::after {
    content: '';
    display: none;
    position: absolute;
    background-color: green;
    height: 5px;
    width: 5px;
    top: -10px;
}

/* Style for slider thumb - webkit browsers: Customizes the thumb appearance for interactions. */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #388e3c;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
    z-index: 10000;
}

/* Pseudo-elements for the slider thumb in WebKit-based browsers */
input[type="range"]::-webkit-slider-thumb::before,
input[type="range"]::-webkit-slider-thumb::after {
    display: none;
}

/* Slider thumb hover effect - webkit browsers */
input[type="range"]::-webkit-slider-thumb:hover {
    background: #257029;
}

/* Styling for the slider thumb in Firefox browsers */
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #388e3c;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

/* Slider thumb hover effect - Firefox */
input[type="range"]::-moz-range-thumb:hover {
    background: #257029;
}

/* Timeline legend container responsive design: Adjusts the timeline's appearance on smaller screens. */
@media (max-width: 768px) {
    #timeline-legend-container {
        width: 100%;
    }
}

/* Continent select dropdown: Customizes the dropdown menu's appearance within the selector. */
.continent select {
    position: absolute;
    top: 12vh;
    width: 8vw;
    height: 3vh;
    border-radius: 10px;
    text-align: center;
    border: black 0.15em solid;
    cursor: pointer;
    left: 40px;
}

/* Autoplay container style: Positions the autoplay controls on the page. */
.autoplay-container {
    position: relative;
    top: -20vh;
    left: calc(-100vw / 4 - 160px);
    text-align: center;
    z-index: 10;
}

/* Hover effect for the autoplay button style: Changes color when the user hovers over it. */
#toggleAutoPlayBtn:hover {
    color: #1b5e20;
}

/* Play/pause button styling: Defines the position and visual style of the button within the autoplay container. */
#playPauseBtn {
    font-size: 20px;
    position: absolute;
    left: 2vw;
    top: 1.3vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 0;
    color: #257029;
}

/* State for the play/pause button style: Removes the outline to keep the design clean. */
#playPauseBtn:focus {
    outline: none;
}

/* Tooltip content styling: Centers the content inside tooltip elements for a uniform appearance. */
.tooltip-content {
    text-align: center;
}

/* Popup Container Style */
.popup-container {
    position: fixed;
    bottom: 3.5vh;
    left: 1.5vw;
    width: 17.5vw;
    height: 50vh;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
    z-index: 1000;
}

/* Popup Content Style */
.popup-content {
    padding-top: 0;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Toggle Button Style */
.toggle-popup-btn {
    position: fixed;
    bottom: 2.7vh;
    left: 1.5vw;
    background-color: #388e3c;
    border: none;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
    width: 5vh;
    height: 5vh;
}

/* Rotate the arrow icon when popup is open */
.popup-container.open .toggle-popup-btn #popupArrowIcon {
    transform: rotate(180deg);
}

/* Popup Open State */
.popup-container.open {
    transform: translateX(0);
}

/* Arrow Icon Style */
#popupArrowIcon {
    transition: transform 0.3s ease-in-out;
}

/* Popup Content Style */
.popup-content h2 {
    margin: 2vh 0 1vh 0;
    font-weight: bold;
    font-size: 25px;
}

.popup-content p {
    margin: 2px 0;
}

.popup-content ul {
    margin: 2px 0;
}

.popup-content li {
    margin: 2px 0;
}

.download-button {
    position: fixed;
    top: 12vh;
    right: 20vw;
    padding: 1vh 1vw;
    font-size: 16px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1vh;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10000;
}

/* Popup Open State */
.popup-container.open {
    transform: translateX(0);
}

/* Popup Hidden State */
.popup-container {
    transform: translateX(-100%);
}

/* Rotate the arrow icon when popup is open */
.popup-container.open .toggle-popup-btn #popupArrowIcon {
    transform: rotate(180deg);
}