body, html {
    overflow: hidden;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-height));
    width: 100%;
    overflow-x: auto;
}

#regions_div {
    margin-left: 0;
    position: relative;
    top: var(--header-height);
    transform: scaleX(1.08);
    background-color: rgb(187, 244, 250);
    height: 95vh;
    width: 155vh;
    overflow: hidden;
}

.right-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - var(--header-height));
    background-color: #f8f9fa;
    border-left: 0 solid #ffffff;
    box-shadow: -0.5vh 0 5px rgb(255, 255, 255);
    padding: 10px;
    overflow: hidden;
    top: var(--header-height);
    z-index: 5;
    width: 17vw;
    position: fixed;
    right: 0;
    text-align: center;
}

#regionDetails {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#regionDetails h2 {
    text-align: center;
    margin: 5px 0;
    font-weight: bold;
    font-size: 30px;
}

#regionDetails p {
    font-weight: normal;
    margin: 5px 0;
    line-height: 1.05;
}

#regionDetails p strong {
    font-weight: bold;
    line-height: 1.05;
}

#regionDetails h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.05;
}

#regionDetails ul {
    list-style-position: inside;
    padding-left: 20px;
    font-weight: normal;
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: -10px;
    line-height: 1.05;
}

#regionDetails li {
    font-weight: normal;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1.05;
}

#countryDataContainer {
    border: 1px solid #ccc;
    padding: 1vh;
    margin-top: -1vh;
    flex: 1;
    max-height: 20vh;
    overflow-y: auto;
}

#countryDataContainer ul {
    list-style-type: disc;
    padding-left: 0;
    margin-bottom: 3vh;
}

#countryDataContainer li {
    margin-bottom: 1vh;
    text-align: left;
    font-weight: normal;
}

#backButton {
    position: absolute;
    bottom: 5vh;
    left: 45%;
    transform: translateX(-50%);
    background-color: var(--primary-color);
    padding: 1vh 0;
    border-radius: var(--button-radius);
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 16px;
    text-align: center;
    width: 30vh;
}

.timeline-container {
    position: relative;
    left: calc((100vw - 30vh) / 5);
    width: 45%;
    z-index: 200;
    top: -5vh;
}

.timeline-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 1vh 9vh;
    box-shadow: var(--box-shadow);
    border: 0 solid #ddd;
    width: 90%;
    height: 3vh;
    position: relative;
    margin: 0 auto;
}

#start-day, #end-day {
    font-size: 12px;
    font-weight: bold;
    color: var(--nav-link-color);
    background-color: #e0e0e0;
    padding: 1vh 2vh;
    border-radius: 3vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    margin: -1vh -1vh;
    text-align: left;
}

.slider-container {
    position: relative;
    width: 65%;
    left: 0;
    top: -0.5vh;
}

#current-date-label {
    position: absolute;
    top: -4vh;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    background-color: #00695c;
    padding: 1vh 1vh;
    border-radius: 20px;
    box-shadow: 0.1vh 0.1vh 0.1vh rgba(0, 0, 0, 0.3);
    display: none;
    pointer-events: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.slider-container:hover #current-date-label,
#timeline:focus + #current-date-label {
    display: block;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 0.8vh;
    background: linear-gradient(to right, #4CAF50, #ddd);
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    margin: 0;
    transition: background 0.3s ease;
    position: relative;
}

input[type="range"]::before,
input[type="range"]::after {
    content: '';
    display: none;
    position: absolute;
    background-color: green;
    height: 5px;
    width: 5px;
    top: -10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #388e3c;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
    z-index: 10000;
}

input[type="range"]::-webkit-slider-thumb::before,
input[type="range"]::-webkit-slider-thumb::after {
    display: none;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #257029;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #388e3c;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

input[type="range"]::-moz-range-thumb:hover {
    background: #257029;
}

.continent select {
    position: absolute;
    top: 12vh;
    width: 8vw;
    height: 3vh;
    border-radius: 10px;
    text-align: center;
    border: black 0.15em solid;
    cursor: pointer;
    left: 40px;
}

.autoplay-container {
    position: relative;
    top: -20vh;
    left: calc(-100vw / 4 - 160px);
    text-align: center;
    z-index: 10;
}

#toggleAutoPlayBtn:hover {
    color: #1b5e20;
}

#playPauseBtn {
    font-size: 20px;
    position: absolute;
    left: 2vw;
    top: 1.3vw;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 0;
    color: #257029;
}


#playPauseBtn:focus {
    outline: none;
}

.tooltip-content {
    text-align: center;
}

.popup-container {
    position: fixed;
    bottom: 3.5vh;
    left: 1.5vw;
    width: 17.5vw;
    height: 50vh;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    z-index: 1000;
}

.popup-content {
    padding-top: 0;
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.toggle-popup-btn {
    position: fixed;
    bottom: 2.7vh;
    left: 1.5vw;
    background-color: #388e3c;
    border: none;
    color: #ffffff;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    z-index: 1001;
    width: 5vh;
    height: 5vh;
}

.popup-container.open .toggle-popup-btn #popupArrowIcon {
    transform: rotate(180deg);
}

.popup-container.open {
    transform: translateX(0);
}

#popupArrowIcon {
    transition: transform 0.3s ease-in-out;
}

.popup-content h2 {
    margin: 2vh 0 1vh 0;
    font-weight: bold;
    font-size: 25px;
}

.popup-content p {
    margin: 2px 0;
}

.popup-content ul {
    margin: 2px 0;
}

.popup-content li {
    margin: 2px 0;
}

.download-button {
    position: fixed;
    top: 12vh;
    right: 20vw;
    padding: 1vh 1vw;
    font-size: 16px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 1vh;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 10000;
}

.popup-container.open {
    transform: translateX(0);
}

.popup-container.open .toggle-popup-btn #popupArrowIcon {
    transform: rotate(180deg);
}

.color-bar-container {
    text-align: center;
    margin-top: -50px;
    z-index: 10000;
}

.color-bar-labels {
    display: flex;
    justify-content: space-between;
    z-index: 10000;
}

.color-bar-labels span {
    font-size: 14px;
    color: #333;
    z-index: 10000;
}

canvas#colorBarCanvas {
    width: 400px;
    height: 30px;
    background-color: black;
    z-index: 500;
}