.emotion-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    padding: 80px 80px;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.circle svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
}

.circle circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.circle .background-circle {
    stroke: #e6e6e6;
}

.circle .progress-circle {
    stroke: #4CAF50;
    stroke-dasharray: 440;         /* 2 * PI * radius (2 * 3.14 * 70) */
    stroke-dashoffset: 440;
    transition: stroke-dashoffset 1s ease-out;
}

.circle .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}

.label {
    margin-top: 20px;
    margin-left: 41px;
    font-size: 18px;
    font-weight: bold;
}

.number {
    margin-top: 5px;
    margin-left: 35px;
    font-size: 16px;
    color: #555;
}

/* colour */
.positive .progress-circle {
    stroke: #4CAF50; /* green */
}

.neutral .progress-circle {
    stroke: #FFC107; /* yellow */
}

.negative .progress-circle {
    stroke: #F44336; /* red */
}

/* Main content */
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 0 auto;

}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #333;
}

.text-description {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    text-align: left;
    margin: 0 auto;
    max-width: 4000px;
    padding: 10px;
    font-weight: bold;
}

.image-container{

    padding-top: 20px;
    padding-bottom: 20px;

}

.icon i {
    color: white;
}