:root {
    --primary-color: #004d40;
    --secondary-color: #f5f5f5;
    --font-family: 'Nunito', sans-serif;
    --header-height: 50px;
    --sidebar-width: 60px;
    --icon-color: #ddd;
    --icon-hover-color: #fff;
    --button-radius: 5px;
    --nav-link-color: #333;
    --nav-link-font-size: 16px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    --button-hover-color: #00382e;
}

/* Global Styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}



/* Left Sidebar Style */
.sidebar, .left-sidebar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100vh - var(--header-height));
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 3;
}

.icon {
    color: var(--icon-color);
    font-size: 1.5rem;
    cursor: pointer;
    margin: 20px 0;
    transition: color 0.3s;
}

.icon:hover {
    color: var(--icon-hover-color);
}






/* Navigation and Search Container style */
.nav-container, .search-container {
    display: flex;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav a {
    margin: 0 15px;
    color: var(--nav-link-color);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--nav-link-font-size);
}

#searchQuery, button {
    padding: 8px 15px;
    border-radius: var(--button-radius);
    font-size: 14px;
}

#searchQuery {
    border: 1px solid #ccc;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: var(--button-hover-color);
}

.user-icon img {
    height: 30px;
}